*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none !important;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-menu{
    width: 100%;
    padding: 7px 0;
    background-color: #166797;
    display: flex;
    align-items: center;
    .sub{
        display: flex;
        align-items: center;
    }
    .sub-image{
        width: 25px;
        height: 25px;
        display: flex;
        margin-right: 45px;
        img{
            width: 100%;
            height: 100%;
            margin-right: 10px;
       
        }
    }
    a{
        color: #e5e5e5;
        font-size: 14px;
    }
}
.middle-menu{
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #fbfbfb;
    border-top: 1px solid rgb(232,232,232);
    border-bottom: 1px solid rgb(232,232,232);
    @include center;
    .navlist{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        li a{
            padding:16px 0;
        }
        .open {
            position: relative;
            & > a{
                background-color: #b12323;
                padding: 16px 14px 15px 16px;
                color: #fff;
                i{  font-size: 16px;
                    display: inline-block;
                    margin-right: 8px;
                }  
            }
            &:hover .dropdown{
                opacity: 1;
                visibility: visible;
                transition: .3s;
                transform: scale(1, 1);
            }
            .dropdown{
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 37px;
                opacity: 0;
                visibility: hidden;
                background-color: rgb(253, 251, 251);
                padding-left: 0;
                transform: scale(1, 0);
                transform-origin: top;
                transition: all 300ms ease-in-out 0s;
                z-index:1;
                li{
                    width: 100%;
                    padding:0 20px;
                    border-bottom: 1px solid rgb(199, 195, 195);
                    a{  display: flex;
                        align-items: center;
                        justify-content: center;
                        padding:15px 24px 15px 0;
                        color: rgb(3, 0, 0);
                    }
                }
            }
        }
        a{
            color:#3f3f3f;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            &:hover{
                color: #363636;
            }
        }
        
        
        
    }
   
    
}
.fnc {

    // main variables, basically everything depends on $slidingAT
    $slidingAT: 1s;
    $slidingDelay: $slidingAT / 3 * 2;
    $maskAT: $slidingAT*0.7;
    $headingAT: $slidingAT * 1.5;
    $controlAT: $slidingAT/2;
    $easing: ease-in-out;
    $blendMode: luminosity;
  
    $contentLeft: 40%;
    $contentTop: 40%;
    
    $headingPadding: 30px;
    $headingFontSize: 100px;
    
    $maskTop: 15%;
    $maskRight: 100% - $contentLeft;
    $maskHeight: 67vh;
    $maskWidth: $maskHeight * 0.75;
  
    $black: #1F2833;
  
    /* you can add color names and their values here
    and then simply add classes like .m--blend-$colorName to .fnc-slide 
    to apply specific color for mask blend mode */
    $bgColors: (
      dark: lighten(#242424, 20%),
      green: #42605E,
      red: lighten(#6A0A0D, 10%),
      blue: #2D7791
    );
  
    &-slider {
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      height: 80vh;
  
      *, *:before, *:after {
        box-sizing: border-box;
      }
  
      &__slides {
        position: relative;
        height: 100%;
        transition: transform $slidingAT $slidingDelay;
      }
      
      // iterate through color map and set colors for specific classes
      @each $colorTheme, $bgColor in $bgColors {
        .m--blend-#{$colorTheme} {
          .fnc-slide__inner {
            background-color: lighten($bgColor, 20%);
          }
  
          .fnc-slide__mask-inner {
            background-color: $bgColor;
          }
        }
  
        .m--navbg-#{$colorTheme} {
          background-color: $bgColor;
        }
      }
    }
  
    &-slide {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0,0,0);
  
      &.m--before-sliding {
        z-index: 2 !important;
        transform: translate3d(100%,0,0);
      }
  
      &.m--active-slide {
        z-index: 1;
        transition: transform $slidingAT $slidingDelay $easing;
        transform: translate3d(0,0,0);
      }
  
      &__inner {
        position: relative;
        height: 100%;
        background-size: cover;
        background-position: center top;
        transform: translate3d(0,0,0);
  
        .m--global-blending-active &,
        .m--blend-bg-active & {
          background-blend-mode: $blendMode;
        }
  
        .m--before-sliding & {
          transform: translate3d(-100%,0,0);
        }
  
        .m--active-slide & {
          transition: transform $slidingAT $slidingDelay $easing;
          transform: translate3d(0,0,0);
        }
      }
  
      &__mask {
        $activeDelay: $slidingAT + $slidingDelay/3;
        $xOffset: 200px;
        $yOffset: 0;
        $deg: 10deg;
  
        overflow: hidden;
        z-index: 1;
        position: absolute;
        right: $maskRight;
        top: $maskTop;
        width: $maskWidth;
        height: $maskHeight;
        margin-right: $headingPadding * -3;
        // This line basically does all magic with masking effect. Very simple and elegant. Webkit only atm.
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 6vh 0, 6vh 61vh, 44vh 61vh, 44vh 6vh, 6vh 6vh);
        transform-origin: 50% 0;
        transition-timing-function: $easing;
  
        .m--before-sliding & {
          transform: rotate($deg*-1) translate3d($xOffset,0,0);
          opacity: 0;
        }
  
        .m--active-slide & {
          transition: transform $maskAT $activeDelay, opacity $maskAT/2 $activeDelay;
          transform: translate3d(0,0,0);
          opacity: 1;
        }
  
        .m--previous-slide & {
          transition: transform $maskAT $slidingDelay/2, opacity $maskAT/2 $maskAT/2 + $slidingDelay/2;
          transform: rotate($deg) translate3d($xOffset*-1,0,0);
          opacity: 0;
        }
  
        &-inner {
          z-index: -1;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100vw;
          height: 80vh;
          margin-left: -50vw;
          margin-top: -50vh;
          background-size: cover;
          background-position: center center;
          background-blend-mode: $blendMode;
          transform-origin: 50% (80vh - $maskHeight) / 2;
          transition-timing-function: $easing;
  
          .m--before-sliding & {
            transform: translateY($yOffset) rotate($deg) translateX($xOffset*-1) translateZ(0);
          }
  
          .m--active-slide & {
            transition: transform $maskAT $activeDelay;
            transform: translateX(0);
          }
  
          .m--previous-slide & {
            transition: transform $maskAT $slidingDelay/2;
            transform: translateY($yOffset) rotate($deg*-1) translateX($xOffset) translateZ(0);
          }
        }
      }
  
      &__content {
        z-index: 2;
        position: absolute;
        left: $contentLeft;
        top: $contentTop;
      }
  
      &__heading {
        margin-bottom: 10px;
        text-transform: uppercase;
  
        &-line {
          overflow: hidden;
          position: relative;
          padding-right: 20px;
          font-size: $headingFontSize;
          color: #fff;
          word-spacing: 10px;
  
          &:nth-child(2) {
            padding-left: $headingPadding;
          }
  
          .m--before-sliding & {
            transform: translateY(100%);
          }
  
          .m--active-slide & {
            transition: transform $headingAT $slidingDelay*1.5;
            transform: translateY(0);
          }
  
          .m--previous-slide & {
            transition: transform $headingAT;
            transform: translateY(-100%);
          }
  
          span {
            display: block;
  
            .m--before-sliding & {
              transform: translateY(-100%);
            }
  
            .m--active-slide & {
              transition: transform $headingAT $slidingDelay*1.5;
              transform: translateY(0);
            }
  
            .m--previous-slide & {
              transition: transform $headingAT;
              transform: translateY(100%);
            }
          }
        }
      }
  
      &__action-btn {
        $hoverAT: 0.3s;
        $fontSize: 20px;
        $vertPadding: 5px;
        $lineHeight: $fontSize + $vertPadding*2;
  
        position: relative;
        margin-left: 200px;
        padding: $vertPadding 15px;
        font-size: $fontSize;
        line-height: 1;
        color: transparent;
        border: none;
        text-transform: uppercase;
        background: transparent;
        cursor: pointer;
        text-align: center;
        outline: none;
  
        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          perspective: 1000px;
          transform-style: preserve-3d;
          transition: transform $hoverAT;
          transform-origin: 50% 0;
          line-height: $lineHeight;
          color: #fff;
  
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-top: none;
            border-bottom: none;
          }
  
          &:after {
            content: attr(data-text);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: $lineHeight;
            background: $black;
            opacity: 0;
            transform-origin: 50% 0;
            transform: translateY(100%) rotateX(-90deg);
            transition: opacity $hoverAT/2 $hoverAT/2;
          }
        }
  
        &:hover span {
          transform: rotateX(90deg);
  
          &:after {
            opacity: 1;
            transition: opacity $hoverAT/2;
          }
        }
      }
    }
  
    &-nav {
      z-index: 5;
      position: absolute;
      right: 0;
      bottom: 0;
  
      &__bgs {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
  
      &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
  
        &.m--nav-bg-before {
          z-index: 2 !important;
          transform: translateX(100%);
        }
  
        &.m--active-nav-bg {
          z-index: 1;
          transition: transform $slidingAT $slidingDelay;
          transform: translateX(0);
        }
      }
      
      &__controls {
        font-size: 0;
      }
  
      &__control {
        $controlWidth: 100px;
  
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: $controlWidth;
        height: 50px;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background-color $controlAT;
  
        &.m--active-control {
          background: $black;
        }
  
        &-progress {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #fff;
          transform-origin: 0 50%;
          transform: scaleX(0);
          transition-timing-function: linear !important;
  
          .m--with-autosliding .m--active-control & {
            transform: scaleX(1);
          }
  
          .m--prev-control & {
            transform: translateX(100%);
            transition: transform 0.5s !important;
          }
  
          .m--reset-progress & {
            transform: scaleX(0);
            transition: transform 0s 0s !important;
          }
  
          .m--autosliding-blocked & {
            transition: all 0s 0s !important;
            transform: scaleX(0) !important;
          }
        }
      }
    }
  
  }
  /* NOT PART OF COMMON SLIDER STYLES */
  $font: 'Open Sans', Helvetica, Arial, sans-serif;
  $creditsAT: 0.7s;
  $creditsWidth: 400px;
  body {
    margin: 0;
  }
  .demo-cont {
    overflow: hidden;
    position: relative;
    height: 80vh;
    perspective: 1500px;
    background: #000;
    
    &__credits {
      box-sizing: border-box;
      overflow-y: auto;
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      width: $creditsWidth;
      height: 100%;
      padding: 20px 10px 30px;
      background: #303030;
      font-family: $font;
      color: #fff;
      text-align: center;
      transition: transform $creditsAT;
      transform: translate3d(100%,0,0) rotateY(-45deg);
      will-change: transform;
      
      .credits-active & {
        transition: transform $creditsAT $creditsAT/3;
        transform: translate3d(0,0,0);
      }
      
      *, *:before, *:after {
        box-sizing: border-box;
      }
      
      &-close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        
        &:before,
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 2px;
          margin-top: -1px;
          background: #fff;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
      
      &-heading {
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 20px;
      }
      
      &-img {
        display: block;
        width: 60%;
        margin: 0 auto 30px;
        border-radius: 10px;
      }
      
      &-name {
        margin-bottom: 20px;
        font-size: 30px;
      }
      
      &-link {
        display: block;
        margin-bottom: 10px;
        font-size: 24px;
        color: #fff;
      }
      
      &-blend {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
  }
  .example-slider {
    z-index: 2;
    transform: translate3d(0,0,0);
    transition: transform $creditsAT;
    .credits-active & {
      transform: translate3d($creditsWidth*-1,0,0) rotateY(10deg) scale(0.9);
    }
    .fnc-slide {
      &-1 {
        .fnc-slide__inner,
        .fnc-slide__mask-inner {
          background-image: url('https://pumpsuae.com/wp-content/uploads/2015/06/Slide-07-Quincy.jpg');
        }
      }
      &-2 {
        .fnc-slide__inner,
        .fnc-slide__mask-inner {
          background-image: url('https://pumpsuae.com/wp-content/uploads/2015/06/Slide-05.jpg');
        }
      }
      &-3 {
        .fnc-slide__inner,
        .fnc-slide__mask-inner {
          background-image: url('https://pumpsuae.com/wp-content/uploads/2014/12/Slide-01b-1.jpg');
        }
  
        .fnc-slide__inner:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(255,255,255,0.1);
        }
      }
      &-4 {
        .fnc-slide__inner,
        .fnc-slide__mask-inner {
          background-image: url('https://pumpsuae.com/wp-content/uploads/2015/06/Slide-05.jpg');
        }
  
        .fnc-slide__inner:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.2);
        }
      }
    }
  
    .fnc-slide__heading,
    .fnc-slide__action-btn,
    .fnc-nav__control {
      font-family: $font;
    }
  }
  
  /* COLORFUL SWITCH STYLES 
     ORIGINAL DEMO - https://codepen.io/suez/pen/WQjwOb */
  $w: 180px;
  $_baseW: 280;
  $h: $w * 120 / $_baseW;
  $br: $w * 50 / $_baseW;
  $outerOffset: 5px;
  $animTime: 0.5s;
  $dotS: $w * 8 / $_baseW;
  $dotLeft: $w * 204 / $_baseW;
  $dotLeftOffset: $w * -125 / $_baseW;
  $offS: $w * 64 / $_baseW;
  $onLeft: $w * 162 / $_baseW;
  $onTop: $w * 35 / $_baseW;
  $onWidth: $w * 30 / $_baseW;
  $onHeight: $w * 56 / $_baseW;
  $cubIn: cubic-bezier(.52,-0.96,.51,1.28);
  $cubOut: cubic-bezier(.67,-0.16,.47,1.61);
  @mixin switchOn() {
    .colorful-switch__checkbox:checked ~ .colorful-switch__label & {
      @content;
    }
  }
  .colorful-switch {
    position: relative;
    width: $w;
    height: $h;
    margin: 0 auto;
    border-radius: $br;
    background: #cfcfcf;
  
    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      left: -$outerOffset;
      top: -$outerOffset;
      width: $w + $outerOffset*2;
      height: $h + $outerOffset*2;
      border-radius: $br + $outerOffset;
      background: #314239;
      transition: background-color 0.3s;
    }
  
    &:hover:before {
      background: #4C735F;
    }
  
    &__checkbox {
      z-index: -10;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  
    &__label {
      z-index: 1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: $br;
      cursor: pointer;
    }
  
    &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: $w * 3;
      height: 100%;
      background: linear-gradient(90deg, #14DCD6 0, #10E7BD $w, #EF9C29 $w*2, #E76339 100%);
      transition: transform $animTime;
      transform: translate3d($w*-2,0,0);
  
      @include switchOn {
        transform: translate3d(0,0,0);
      }
    }
  
    &__dot {
      position: absolute;
      left: $dotLeft;
      top: 50%;
      width: $dotS;
      height: $dotS;
      margin-left: $dotS/-2;
      margin-top: $dotS/-2;
      border-radius: 50%;
      background: #fff;
      transition: transform $animTime;
      transform: translate3d(0,0,0);
  
      @include switchOn {
        transform: translate3d($dotLeftOffset,0,0);
      }
    }
  
    &__on {
      position: absolute;
      left: $onLeft;
      top: $onTop;
      width: $onWidth;
      height: $onHeight;
      transition: transform $animTime;
      transform: translate3d(0,0,0);
  
      @include switchOn {
        transform: translate3d($dotLeftOffset,0,0);
      }
  
      &__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform $animTime/2 0s $cubIn;
        transform-origin: 100% 50%;
        transform: rotate(45deg) scale(0) translateZ(0);
  
        @include switchOn {
          transition: transform $animTime/2 $animTime/2 $cubOut;
          transform: rotate(45deg) scale(1) translateZ(0);
        }
  
        &:before,
        &:after {
          content: "";
          position: absolute;
          border-radius: $dotS/2;
          background: #fff;
        }
        &:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: $dotS+1px;
        }
        &:after {
          right: 0;
          top: 0;
          width: $dotS+1px;
          height: 100%;
        }
      }
    }
  
    &__off {
      position: absolute;
      left: $dotLeft;
      top: 50%;
      width: $offS;
      height: $offS;
      margin-left: $offS/-2;
      margin-top: $offS/-2;
      transition: transform $animTime;
      transform: translate3d(0,0,0);
  
      @include switchOn {
        transform: translate3d($dotLeftOffset,0,0);
      }
  
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: $dotS;
        margin-top: $dotS/-2;
        border-radius: $dotS/2;
        background: #fff;
        transition: transform $animTime/2 $animTime/2;
  
        @include switchOn {
          transition-delay: 0s;
        }
      }
      &:before {
        transform: rotate(45deg) scaleX(1) translateZ(0);
  
        @include switchOn {
          transform: rotate(45deg) scaleX(0) translateZ(0);
        }
      }
      &:after {
        transition-timing-function: $cubOut;
        transform: rotate(-45deg) scaleX(1) translateZ(0);
  
        @include switchOn {
          transition-timing-function: ease;
          transform: rotate(-45deg) scaleX(0) translateZ(0);
        }
      }
    }
  }

  #second-carousel{
    background-color: #fbfbfb;
    padding: 25px;
    margin-top:80px;
    z-index: 999;
    position: relative;
    margin-bottom: 20px;
    .sec-img {
        img{
            width: 100%;
            padding: 40px;
            object-fit: contain;
        }
    }
    .sec-about{
     
        h1{
            font-size: 30px;
            color:#B12323 ;
            margin-bottom: 35px;
        }
        p{
            font-size: 14px;
            color: #2d2d2d;
        }
    }
}

.sec-heading{
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 18px;
    color: #2c285f;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 35px;
    margin-right: 31px;
}
.second-text{
    width: 90%;
    padding: 20px 20px;
    background-color: rgb(36 31 89);
    border: 1px solid rgb(36 31 89);
}
.second-text p{
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin-bottom: 0;
}
.sec-car{
  .owl-prev{
    left: 0;
}
.owl-next{
    right:25px;
}
}
.sec-car.col-lg-6{
    padding:0 !important;
}
.sec-car .owl-nav button{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#B12323!important;
    top: -41%;
    border-radius: 0;
}
.sec-car .owl-nav button span{
    font-size: 30px !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    padding: 10px 15px 15px 15px;
}
.second-img{
    width: 90%;
    height: 165px;
    img{
        width:100%;
        height: 100%;
        border: 1px dotted black;
        padding: 20px;
        object-fit: contain;
        transition: .3s;
    }
    
}

#sales{
    margin: 100px 0;
    .sales-wrapper{
        padding:25px;
        background-color: #e2e2e2;
        border: 1px solid #1E73BE;
        border-radius: 5px;
        .sales-heading {
            margin-bottom: 25px;
            h5{
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                color: #2d2d2d;
                &:nth-child(2){
                    margin: 14px 0;
                }
        }
        }
        .sale-wrap{
            padding: 20px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            justify-content: center;
            background-color: #fffff7;
            border-radius: 5px;
            margin: 0 3px 10px 3px;
            h5{
                font-size: 14px;
                margin-bottom: 14px;
                color: #246696;
            }
            p{
                font-size: 20px;
                color: #156797;
            }
        }
    }
}
.owl-dots{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#counter{
  width:100%;
  background-color: #125075;
  padding: 30px 0;
  margin-top: 40px;
  .counter-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i{
      font-size: 48px;
      color: #74C5FB;
    }
    h3{
      padding:10px;
      margin-bottom:0;
      color:#fff;
      font-size: 36px;
    }
    h4{
      color:#DD3333;
      font-weight: 400;
    }
  }
}
#call-to-action{
  width:100%;
  background-color: #ccc;
  padding: 30px;
  border: 1px dotted #176797;
  .call-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      color:#176797;
      font-size: 35px;
    }
    a{
      background-color:#b12322;
      padding: 20px 28px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      transition: .3s;
      &:hover{
        background-color: #661613;
      }
    }
  }
}
footer{
  width: 100%;
  background-color:#166797 ;
  padding-top: 50px;
  ul{
    h5{
      color:#fff;
      margin-bottom: 28px;
      font-size: 16px;
    }
    li{
      a{
        color: #ededed;
        font-size:14px;
        padding:6px 0;
      }
    }
  }
}
#product{
  margin: 30px 0;
  .container{
    .product-wrapper{
      border-top: 3px solid #b12322;
      display: flex;
      justify-content: space-between;
      border-left: 1px solid rgb(219, 214, 214);
      border-bottom: 1px solid rgb(219, 214, 214);
      border-right: 1px solid rgb(219, 214, 214);
      .product{
        border: 1px solid rgb(219, 214, 214);
        width: 19%;
        .product-wrap{
          a{
            width:200px;
            height: 240px;
            margin-bottom: 14px;
            img{
              width:100%;
              height: 100%;
            }
          }
          .product-item{
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            p{
              &:first-child{
                margin: 10px 0;
              }
              &:nth-child(2){
                font-size: 14px;
                font-weight: 400;
              }
              a{
                color:#b12322;
                text-transform: capitalize;
              }
            }
          }
        }
        .hand-wrap{
          .hand{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 26px 0 ;
            i{
              font-size: 26px;
              line-height: 34px;
              color: #fff;
              padding:5px 0;
              width: 44px;
              text-align: center;
              background-color: #b12322;
              margin-right: 10px;
            }
            p{
              color:#156797; 
              text-transform: capitalize;
              font-weight: 600;
              margin-bottom: 0;
            }
          }
          .list-hand{
            padding-left: 0;
            li{
              border-bottom: 1px solid rgb(219, 214, 214);
              transition: .3s;
              &:hover{
                background-color: #b12322;
                a{
                color: #fff;
                }
              }
              &:first-child{
                background-color: #b12322;
                a{
                color: #fff;
                }
              }
              a{
                display: inline-block;
                font-size: 14px;
                padding: 10px 30px;
                color: #156797;

              }
            }
          }
        }
      }
    }
  }
  
}